---

---

    <h2 class="c52 c39 c43" id="h.dllt5vc2py0w"><span class="c27">Consolidated Statement Of Profit or Loss</span></h2>
    <p class="c7 c19"><span class="c1"></span></p>
    <table class="c9">
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Notes</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net sales </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c78 c54">Note 3 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">293 &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">389 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">701 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">873 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,089</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Other operating income &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">7 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">7 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">6</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total operating income &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">294 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">396 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">703 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">880</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">&nbsp;1,095</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c63" colspan="7" rowspan="1">
                <p class="c0"><span class="c1">Work performed by the company for its own use and &nbsp;</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">capitalized &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">28 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">27 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">94 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">103 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">146</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Goods for resale &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-32</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">&nbsp;-37 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-78 </span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-87 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-117</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Other external expenses &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-79 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-34 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-175</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-98 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-121</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Personnel expenses &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-56 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-84</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">&nbsp;-174 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-206 </span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-255</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Depreciation, amortization and impairment </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-104 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-92 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-266</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">&nbsp;-282 &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-431</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Other operating expenses &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-2 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">5 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-9 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-1 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-4</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Share of profit of an associate </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2 &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-1 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">3 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">3 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Operating profit/loss (EBIT) </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">51 180 97 313 322 </span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net financial items </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0 3 -47 -37 -59 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Profit/loss before tax &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">51 183 50 276 264</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Income tax </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-5 -41 -2 -67 -72 </span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net profit/loss for the period </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">46 142 48 209 192 </span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c63" colspan="7" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Equity holders of the parent &nbsp;</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">48 142 46 207 191</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
    </table>
    <h3 class="c11 c66" id="h.ozafmvj305s"><span class="c28">Earnings per share </span></h3>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Basic earnings per share* (SEK) </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.22 &nbsp;</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.63 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.21 </span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.93 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.85</span></p>
            </td>
        </tr>
    </table>
    <p class="c7"><span>*) There were no outstanding instruments with potential dilutive effect during the period; therefore, diluted earnings per share equal basic earnings per share. </span>
        <hr style="page-break-before:always;display:none;">
    </p>
