---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
<h2 class="c39 c43 c52" id="h.e2s4yio1zncf"><span class="c27">Consolidated Statement Of Comprehensive Income</span></h2>
    <p class="c7 c19"><span class="c1"></span></p>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Net profit/loss for the period</th>
                <td>46</td>
                <td>142</td>
                <td>48 &nbsp;</td>
                <td>209</td>
                <td>192</td>
            </tr>
            <tr>
                <th scope="row">Other comprehensive income Items that may be reclassified to profit or loss (net of tax):</th>
            </tr>
            <tr>
                <th scope="row">Exchange differences on translation of foreign operations</th>
                <td>-33</td>
                <td>15</td>
                <td>-17</td>
                <td>-16</td>
                <td>-92</td>
            </tr>
            <tr>
                <th scope="row">Total other comprehensive income for the period, net of tax</th>
                <td>-33</td>
                <td>15</td>
                <td>-17</td>
                <td>-16</td>
                <td>-92</td>
            </tr>
            <tr>
                <th scope="row">Total comprehensive income for the period, net of tax &nbsp;</th>
                <td>14</td>
                <td>157</td>
                <td>31</td>
                <td>193</td>
                <td>100</td>
            </tr>
            <tr>
                <th scope="row">Total comprehensive income attributable to:</th>
            </tr>
            <tr>
                <th scope="row">Equity holders of the parent</th>
                <td>16</td>
                <td>157 &nbsp;</td>
                <td>30</td>
                <td>191</td>
                <td>99</td>
            </tr>
            <tr>
                <th scope="row">Non-controlling interests</th>
                <td>-2</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>

<style>


</style>
