---
import TextContainer from '../TextContainer.astro';
---

    <TextContainer>
    <h2 class="c52 c39 c43" id="h.xcr7yngohn7h"><span class="c27">Consolidated Statement Of Changes in Equity</span></h2>
    <h3 class="c7 c43" id="h.yjmxvwwov30e"><span class="c28">Balance for 2024-04-01 to 2024-12-31</span></h3>
    </TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m </span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Share capital</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Reserves 1</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Retained earnings including profit for the period</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total equity attributable to equity holders of the parent</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Noncontrolling interests</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total equity</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0 c39"><span class="c1">Opening balance 2024-04-01</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">192</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,465</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,656</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">8</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,664</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net profit/loss</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">207</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">207</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">209</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Other comprehensive income</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-16</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-16</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-16</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total comprehensive income for the period</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-16</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">207</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">191</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">193</span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c63" colspan="7" rowspan="1">
                <p class="c0"><span class="c61">Transactions with the owners </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Group contribution</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">7</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">7</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">7</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Tax effect on group contribution </span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-1</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-1</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-1</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Other*</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">15</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">15</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">15</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0 c39"><span class="c1">Closing balance 2024-12-31</span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">176</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,687</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,862</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">10</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,872</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0 c39 c19"><span class="c1"></span></p>
            </td>
            <td class="c48" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
    </table>
    <TextContainer>
    <h3 class="c7 c43" id="h.41uvpvtg567p"><span class="c28">Balance for 2025-04-01 to 2025-12-31</span></h3>
    </TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m </span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Share capital</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Reserves</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Retained earnings including profit for the period</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total equity attributable to equity holders of the parent</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Noncontrolling interests</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total equity</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0 c39"><span class="c1">Opening balance 2025-04-01</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">100</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,347 </span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,447</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1,456</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net profit/loss</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">46</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">46</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">48</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Other comprehensive income</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-17</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-17</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-17</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total comprehensive income for the period</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-17</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">46</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">29</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">31</span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c63" colspan="7" rowspan="1">
                <p class="c0"><span class="c61">Transactions with the owners </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">New share issue</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Shareholder contribution</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2,379</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2,379</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2,379</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Change in minority interest</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Other*</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-212</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-212</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-212</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2,168</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2,167</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">9</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2,176</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c18" colspan="1" rowspan="1">
                <p class="c0 c39"><span class="c1">Closing balance 2025-12-31</span></p>
            </td>
            <td class="c40" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
            <td class="c13" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">83</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">3,561</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">3644</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">19</span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">3,662</span></p>
            </td>
        </tr>
    </table>
    <TextContainer>
    <p class="c14"><span class="c15">1) Includes currency translation difference.</span></p>
    <p class="c14"><span class="c75">*) Other includes the movements in equity related to the combined financial statements</span>
        <hr style="page-break-before:always;display:none;">
    </p>
    </TextContainer>
