---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
<h2 class="c39 c43 c52" id="h.e2s4yio1zncf"><span class="c27">Consolidated Statement Of Comprehensive Income</span></h2>
    <p class="c7 c19"><span class="c1"></span></p>
</TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net profit/loss for the period </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">46 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">142 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">48 &nbsp;</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">209</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">192</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c51" colspan="6" rowspan="1">
                <p class="c0"><span class="c1">Other comprehensive income</span></p>
                <p class="c0"><span class="c15">Items that may be reclassified to profit or loss (net of tax): </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c72" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Exchange differences on translation of foreign operations </span></p>
            </td>
            <td class="c72" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-33 </span></p>
            </td>
            <td class="c72" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">15 </span></p>
            </td>
            <td class="c72" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-17 </span></p>
            </td>
            <td class="c72" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-16</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c72" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-92 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c8" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total other comprehensive income for the period, net of tax </span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-33 </span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">15 </span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-17 </span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-16 </span></p>
            </td>
            <td class="c8" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-92</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c42" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total comprehensive income for the period, net of tax &nbsp;</span></p>
            </td>
            <td class="c42" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">14 </span></p>
            </td>
            <td class="c42" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">157 </span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c42" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">31 </span></p>
            </td>
            <td class="c42" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">193 </span></p>
            </td>
            <td class="c42" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">100</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c22">
            <td class="c80" colspan="6" rowspan="1">
                <p class="c0"><span class="c61">Total comprehensive income attributable to: </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Equity holders of the parent </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">16 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">157 &nbsp;</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">30 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">191 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">99</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Non-controlling interests </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-2</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
        </tr>
    </table>

