---
import TextContainer from '../TextContainer.astro';
---

    <TextContainer>
    <h2 class="c52 c39 c43" id="h.xcr7yngohn7h"><span class="c27">Consolidated Statement Of Changes in Equity</span></h2>
    <h3 class="c7 c43" id="h.yjmxvwwov30e"><span class="c28">Balance for 2024-04-01 to 2024-12-31</span></h3>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Share capital</th>
                <th scope="col">Reserves 1</th>
                <th scope="col">Retained earnings including profit for the period</th>
                <th scope="col">Total equity attributable to equity holders of the parent</th>
                <th scope="col">Noncontrolling interests</th>
                <th scope="col">Total equity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Opening balance 2024-04-01</th>
                <td>0</td>
                <td>192</td>
                <td>1,465</td>
                <td>1,656</td>
                <td>8</td>
                <td>1,664</td>
            </tr>
            <tr>
                <th scope="row">Net profit/loss</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>207</td>
                <td>207</td>
                <td>2</td>
                <td>209</td>
            </tr>
            <tr>
                <th scope="row">Other comprehensive income</th>
                <td>N/A</td>
                <td>-16</td>
                <td>N/A</td>
                <td>-16</td>
                <td>N/A</td>
                <td>-16</td>
            </tr>
            <tr>
                <th scope="row">Total comprehensive income for the period</th>
                <td>N/A</td>
                <td>-16</td>
                <td>207</td>
                <td>191</td>
                <td>2</td>
                <td>193</td>
            </tr>
            <tr>
                <th scope="row">Transactions with the owners</th>
            </tr>
            <tr>
                <th scope="row">Group contribution</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>7</td>
                <td>7</td>
                <td>N/A</td>
                <td>7</td>
            </tr>
            <tr>
                <th scope="row">Tax effect on group contribution</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>-1</td>
                <td>-1</td>
                <td>N/A</td>
                <td>-1</td>
            </tr>
            <tr>
                <th scope="row">Other*</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>9</td>
                <td>9</td>
                <td>N/A</td>
                <td>9</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>0</td>
                <td>N/A</td>
                <td>15</td>
                <td>15</td>
                <td>N/A</td>
                <td>15</td>
            </tr>
            <tr>
                <th scope="row">Closing balance 2024-12-31</th>
                <td>0</td>
                <td>176</td>
                <td>1,687</td>
                <td>1,862</td>
                <td>10</td>
                <td>1,872</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>N/A</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
    <h3 class="c7 c43" id="h.41uvpvtg567p"><span class="c28">Balance for 2025-04-01 to 2025-12-31</span></h3>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Share capital</th>
                <th scope="col">Reserves</th>
                <th scope="col">Retained earnings including profit for the period</th>
                <th scope="col">Total equity attributable to equity holders of the parent</th>
                <th scope="col">Noncontrolling interests</th>
                <th scope="col">Total equity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Opening balance 2025-04-01</th>
                <td>0</td>
                <td>100</td>
                <td>1,347</td>
                <td>1,447</td>
                <td>9</td>
                <td>1,456</td>
            </tr>
            <tr>
                <th scope="row">Net profit/loss</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>46</td>
                <td>46</td>
                <td>2</td>
                <td>48</td>
            </tr>
            <tr>
                <th scope="row">Other comprehensive income</th>
                <td>N/A</td>
                <td>-17</td>
                <td>N/A</td>
                <td>-17</td>
                <td>N/A</td>
                <td>-17</td>
            </tr>
            <tr>
                <th scope="row">Total comprehensive income for the period</th>
                <td>N/A</td>
                <td>-17</td>
                <td>46</td>
                <td>29</td>
                <td>2</td>
                <td>31</td>
            </tr>
            <tr>
                <th scope="row">Transactions with the owners</th>
            </tr>
            <tr>
                <th scope="row">New share issue</th>
                <td>0</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Shareholder contribution</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>2,379</td>
                <td>2,379</td>
                <td>N/A</td>
                <td>2,379</td>
            </tr>
            <tr>
                <th scope="row">Change in minority interest</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>9</td>
                <td>9</td>
            </tr>
            <tr>
                <th scope="row">Other*</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>-212</td>
                <td>-212</td>
                <td>N/A</td>
                <td>-212</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>1</td>
                <td>N/A</td>
                <td>2,168</td>
                <td>2,167</td>
                <td>9</td>
                <td>2,176</td>
            </tr>
            <tr>
                <th scope="row">Closing balance 2025-12-31</th>
                <td>1</td>
                <td>83</td>
                <td>3,561</td>
                <td>3644</td>
                <td>19</td>
                <td>3,662</td>
            </tr>
        </tbody>
    </table>
</div>
    <p class="c14"><span class="c15">1) Includes currency translation difference.</span></p>
    <p class="c14"><span class="c75">*) Other includes the movements in equity related to the combined financial statements</span>
        <hr style="page-break-before:always;display:none;">
    </p>
</TextContainer>

<style>

</style>
