---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
    <h2 class="c52 c39 c43" id="h.kolmsvy2idgw"><span class="c27">Consolidated Cash Flow Statement</span></h2>
    <h3 class="c7 c43" id="h.hzrad5bym8ls"><span class="c28">Operating activities </span></h3>
    <div class="table-container">
    <table>
    <thead>
    <tr>
    <th scope="col">Amounts in SEK m</th>
    <th scope="col">Oct-Dec 2025</th>
    <th scope="col">Oct-Dec 2024</th>
    <th scope="col">Apr-Dec 2025</th>
    <th scope="col">Apr-Dec 2024</th>
    <th scope="col">Apr 2024- Mar 2025</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Profit/loss before tax</th>
    <td>51</td>
    <td>183</td>
    <td>50</td>
    <td>276</td>
    <td>264</td>
    </tr>
    <tr>
    <th scope="row">Adjustment for differences between profit before tax and net cash flow</th>
    <td>106</td>
    <td>94</td>
    <td>312</td>
    <td>337</td>
    <td>475</td>
    </tr>
    <tr>
    <th scope="row">Tax paid</th>
    <td>-22</td>
    <td>-22</td>
    <td>5</td>
    <td>19</td>
    <td>-4</td>
    </tr>
    <tr>
    <th scope="row">Cash flow from operating activities before changes in working capital</th>
    <td>135</td>
    <td>255</td>
    <td>367</td>
    <td>632</td>
    <td>735</td>
    </tr>
    </tbody>
    </table>
    </div>
    <h3 class="c7 c43" id="h.yuaiktddw2h2"><span class="c28">Cash flow from changes in working capital </span></h3>
    <div class="table-container">
    <table>
    <thead>
    <tr>
    <th scope="col">Amounts in SEK m</th>
    <th scope="col">Oct-Dec 2025</th>
    <th scope="col">Oct-Dec 2024</th>
    <th scope="col">Apr-Dec 2025</th>
    <th scope="col">Apr-Dec 2024</th>
    <th scope="col">Apr 2024- Mar 2025</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Change in operating receivables</th>
    <td>-43</td>
    <td>-46</td>
    <td>30</td>
    <td>43</td>
    <td>88</td>
    </tr>
    <tr>
    <th scope="row">Change in operating liabilities</th>
    <td>-22</td>
    <td>31</td>
    <td>-66</td>
    <td>-15</td>
    <td>24</td>
    </tr>
    <tr>
    <th scope="row">Cash flow from operating activities</th>
    <td>70</td>
    <td>240</td>
    <td>331</td>
    <td>660</td>
    <td>847</td>
    </tr>
    </tbody>
    </table>
    </div>
    <h3 class="c7 c43" id="h.itg2wkgn7zqd"><span class="c28">Investing activities </span></h3>
    <div class="table-container">
    <table>
    <thead>
    <tr>
    <th scope="col">Amounts in SEK m</th>
    <th scope="col">Oct-Dec 2025</th>
    <th scope="col">Oct-Dec 2024</th>
    <th scope="col">Apr-Dec 2025</th>
    <th scope="col">Apr-Dec 2024</th>
    <th scope="col">Apr 2024- Mar 2025</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Acquisition of property, plant and equipment</th>
    <td>0</td>
    <td>-1</td>
    <td>0</td>
    <td>-6</td>
    <td>-6</td>
    </tr>
    <tr>
    <th scope="row">Acquisition of intangible assets</th>
    <td>-42</td>
    <td>-54</td>
    <td>-131</td>
    <td>-181</td>
    <td>-226</td>
    </tr>
    <tr>
    <th scope="row">Acquisition of financial assets</th>
    <td>0</td>
    <td>2</td>
    <td>0</td>
    <td>2</td>
    <td>2</td>
    </tr>
    <tr>
    <th scope="row">Cash flow from investing activities &nbsp;</th>
    <td>-41</td>
    <td>-53</td>
    <td>-131</td>
    <td>-185</td>
    <td>-230</td>
    </tr>
    </tbody>
    </table>
    </div>
    <h3 class="c7 c43" id="h.jnufspqp8zgs"><span class="c28">Financing activities </span></h3>
    <div class="table-container">
    <table>
    <thead>
    <tr>
    <th scope="col">Amounts in SEK m</th>
    <th scope="col">Oct-Dec 2025</th>
    <th scope="col">Oct-Dec 2024</th>
    <th scope="col">Apr-Dec 2025</th>
    <th scope="col">Apr-Dec 2024</th>
    <th scope="col">Apr 2024- Mar 2025</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Proceeds from borrowings</th>
    <td>1</td>
    <td>N/A</td>
    <td>2</td>
    <td>N/A</td>
    <td>N/A</td>
    </tr>
    <tr>
    <th scope="row">Transactions with owners*</th>
    <td>248</td>
    <td>-334</td>
    <td>-119</td>
    <td>-348</td>
    <td>-439</td>
    </tr>
    <tr>
    <th scope="row">Payment of lease liabilities</th>
    <td>-6</td>
    <td>-4</td>
    <td>-15</td>
    <td>-13</td>
    <td>-17</td>
    </tr>
    <tr>
    <th scope="row">Cash flow from financing activities</th>
    <td>243</td>
    <td>-338</td>
    <td>-132</td>
    <td>-361</td>
    <td>-456</td>
    </tr>
    </tbody>
    </table>
    </div>
    <h3 class="" id="">Total Cash Flow</h3>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th scope="col">Amounts in SEK m</th>
                    <th scope="col">Oct-Dec 2025</th>
                    <th scope="col">Oct-Dec 2024</th>
                    <th scope="col">Apr-Dec 2025</th>
                    <th scope="col">Apr-Dec 2024</th>
                    <th scope="col">Apr 2024- Mar 2025</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Total cash flow</th>
                    <td>271</td>
                    <td>-151</td>
                    <td>68</td>
                    <td>114</td>
                    <td>161</td>
                </tr>
                <tr>
                    <th scope="row">Cash and cash equivalents at the beginning of period</th>
                    <td>269</td>
                    <td>576</td>
                    <td>472</td>
                    <td>312</td>
                    <td>312</td>
                </tr>
                <tr>
                    <th scope="row">Exchange-rate differences in cash and cash equivalents</th>
                    <td>0</td>
                    <td>-3</td>
                    <td>0</td>
                    <td>-4</td>
                    <td>-2</td>
                </tr>
                <tr>
                    <th scope="row">Cash and cash equivalents at the end of period</th>
                    <td>540</td>
                    <td>422</td>
                    <td>540</td>
                    <td>422</td>
                    <td>471</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="">*) Net of shareholder contribution and payment of liabilities.</p>
</TextContainer>

<style>


</style>
