---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
    <h2 class="c52 c39 c43" id="h.dllt5vc2py0w"><span class="c27">Consolidated Statement Of Profit or Loss</span></h2>
    <p class="c7 c19"><span class="c1"></span></p>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Notes</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Net sales</th>
                <td>Note 3</td>
                <td>293 &nbsp;</td>
                <td>389</td>
                <td>701</td>
                <td>873</td>
                <td>1,089</td>
            </tr>
            <tr>
                <th scope="row">Other operating income &nbsp;</th>
                <td></td>
                <td>1</td>
                <td>7</td>
                <td>2</td>
                <td>7</td>
                <td>6</td>
            </tr>
            <tr>
                <th scope="row">Total operating income &nbsp;</th>
                <td></td>
                <td>294</td>
                <td>396</td>
                <td>703</td>
                <td>880</td>
                <td>&nbsp;1,095</td>
            </tr>
            <tr>
                <th scope="row">Work performed by the company for its own use and &nbsp;</th>
            </tr>
            <tr>
                <th scope="row">capitalized &nbsp;</th>
                <td></td>
                <td>28</td>
                <td>27</td>
                <td>94</td>
                <td>103</td>
                <td>146</td>
            </tr>
            <tr>
                <th scope="row">Goods for resale &nbsp;</th>
                <td></td>
                <td>-32</td>
                <td>&nbsp;-37</td>
                <td>-78</td>
                <td>-87</td>
                <td>-117</td>
            </tr>
            <tr>
                <th scope="row">Other external expenses &nbsp;</th>
                <td></td>
                <td>-79</td>
                <td>-34</td>
                <td>-175</td>
                <td>-98</td>
                <td>-121</td>
            </tr>
            <tr>
                <th scope="row">Personnel expenses &nbsp;</th>
                <td></td>
                <td>-56</td>
                <td>-84</td>
                <td>&nbsp;-174</td>
                <td>-206</td>
                <td>-255</td>
            </tr>
            <tr>
                <th scope="row">Depreciation, amortization and impairment</th>
                <td></td>
                <td>-104</td>
                <td>-92</td>
                <td>-266</td>
                <td>&nbsp;-282 &nbsp;</td>
                <td>-431</td>
            </tr>
            <tr>
                <th scope="row">Other operating expenses &nbsp;</th>
                <td></td>
                <td>-2</td>
                <td>5</td>
                <td>-9</td>
                <td>-1</td>
                <td>-4</td>
            </tr>
            <tr>
                <th scope="row">Share of profit of an associate</th>
                <td></td>
                <td>2 &nbsp;</td>
                <td>-1</td>
                <td>3</td>
                <td>3</td>
                <td>9</td>
            </tr>
            <tr>
                <th scope="row">Operating profit/loss (EBIT)</th>
                <td></td>
                <td>51</td>
                <td>180</td>
                <td>97</td>
                <td>313</td>
                <td>322</td>
            </tr>
            <tr>
                <th scope="row">Net financial items</th>
                <td></td>
                <td>0</td>
                <td>3</td>
                <td>-47</td>
                <td>-37</td>
                <td>-59</td>
            </tr>
            <tr>
                <th scope="row">Profit/loss before tax &nbsp;</th>
                <td></td>
                <td>51</td>
                <td>183</td>
                <td>50</td>
                <td>276</td>
                <td>264</td>
            </tr>
            <tr>
                <th scope="row">Income tax</th>
                <td></td>
                <td>-5</td>
                <td>-41</td>
                <td>-2</td>
                <td>-67</td>
                <td>-72</td>
            </tr>
            <tr>
                <th scope="row">Net profit/loss for the period</th>
                <td></td>
                <td>46</td>
                <td>142</td>
                <td>48</td>
                <td>209</td>
                <td>192</td>
            </tr>
            <tr>
                <th scope="row"></th>
            </tr>
            <tr>
                <th scope="row">Equity holders of the parent &nbsp;</th>
                <td></td>
                <td>48</td>
                <td>142</td>
                <td>46</td>
                <td>207</td>
                <td>191</td>
            </tr>
        </tbody>
    </table>
</div>
    <h3 class="c11 c66" id="h.ozafmvj305s"><span class="c28">Earnings per share </span></h3>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Basic earnings per share* (SEK)</th>
                <th scope="col">0.22 &nbsp;</th>
                <th scope="col">0.63</th>
                <th scope="col">0.21</th>
                <th scope="col">0.93</th>
                <th scope="col">0.85</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
    <p class="c7">*) There were no outstanding instruments with potential dilutive effect during the period; therefore, diluted earnings per share equal basic earnings per share.</p>
</TextContainer>

<style>



</style>
