---
import TextContainer from '../TextContainer.astro';
---

    <TextContainer>
    <h2 class="c52 c39 c43" id="h.kolmsvy2idgw"><span class="c27">Consolidated Cash Flow Statement</span></h2>
    <h3 class="c7 c43" id="h.hzrad5bym8ls"><span class="c28">Operating activities </span></h3>
    </TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Amounts in SEK m </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2025</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2024</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2025</span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2024</span></p>
            </td>
            <td class="c17" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Profit/loss before tax </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">51 </span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">183</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">50 </span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">276 </span></p>
            </td>
            <td class="c17" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">264</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Adjustment for differences between profit before tax and net cash flow </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">106 </span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">94 </span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">312 </span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">337 </span></p>
            </td>
            <td class="c17" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">475 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Tax paid</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-22</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-22</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">5</span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">19</span></p>
            </td>
            <td class="c17" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-4</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Cash flow from operating activities before changes in working capital </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">135 </span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">255 </span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">367 </span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">632 </span></p>
            </td>
            <td class="c17" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">735 </span></p>
            </td>
        </tr>
    </table>
    <TextContainer>
    <h3 class="c7 c43" id="h.yuaiktddw2h2"><span class="c28">Cash flow from changes in working capital </span></h3>
    </TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Amounts in SEK m </span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2025</span></p>
            </td>
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2024</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2025</span></p>
            </td>
            <td class="c57" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2024</span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Change in operating receivables</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-43</span></p>
            </td>
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-46</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">30 </span></p>
            </td>
            <td class="c57" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">43 </span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">88 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Change in operating liabilities</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-22</span></p>
            </td>
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">31</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-66</span></p>
            </td>
            <td class="c57" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-15</span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">24</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c12" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Cash flow from operating activities </span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">70 </span></p>
            </td>
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">240 </span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">331 </span></p>
            </td>
            <td class="c57" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">660 </span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">847 </span></p>
            </td>
        </tr>
    </table>
    <TextContainer>
    <h3 class="c7 c43" id="h.itg2wkgn7zqd"><span class="c28">Investing activities </span></h3>
    </TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c46" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Amounts in SEK m </span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2025</span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2024</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2025</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2024</span></p>
            </td>
            <td class="c23" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c46" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Acquisition of property, plant and equipment </span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">0</span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-1</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">0</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-6</span></p>
            </td>
            <td class="c23" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-6</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c46" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Acquisition of intangible assets</span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-42</span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-54</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-131</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-181</span></p>
            </td>
            <td class="c23" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-226</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c46" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Acquisition of financial assets</span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">0</span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">2</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">0</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">2</span></p>
            </td>
            <td class="c23" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">2</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c46" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Cash flow from investing activities &nbsp;</span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-41</span></p>
            </td>
            <td class="c53" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-53</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-131</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-185</span></p>
            </td>
            <td class="c23" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-230</span></p>
            </td>
        </tr>
    </table>
    <TextContainer>
    <h3 class="c7 c43" id="h.jnufspqp8zgs"><span class="c28">Financing activities </span></h3>
    </TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c25" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Amounts in SEK m </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2025</span></p>
            </td>
            <td class="c49" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2024</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2025</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2024</span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c25" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Proceeds from borrowings</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">1</span></p>
            </td>
            <td class="c49" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">N/A</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">2</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">N/A</span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">N/A</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c25" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Transactions with owners* </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">248</span></p>
            </td>
            <td class="c49" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-334</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-119</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-348</span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-439</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c25" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Payment of lease liabilities</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-6</span></p>
            </td>
            <td class="c49" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-4</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-15</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-13</span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-17</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c25" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Cash flow from financing activities</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">243 </span></p>
            </td>
            <td class="c49" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-338</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-132</span></p>
            </td>
            <td class="c21" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-361</span></p>
            </td>
            <td class="c20" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-456</span></p>
            </td>
        </tr>
    </table>
    <TextContainer>
    <p class="c14 c19"><span class="c15"></span></p>
    <h3 class="c7 c43" id="h.qloleu1mrv17"><span class="c28">Total Cash Flow</span></h3>
    </TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c47" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Amounts in SEK m </span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Oct-Dec 2024</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2025</span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr-Dec 2024</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c47" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Total cash flow</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">271 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-151</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">68 </span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">114 </span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">161 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c47" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Cash and cash equivalents at the beginning of period </span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">269 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">576 </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">472 </span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">312 </span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">312 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c47" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Exchange-rate differences in cash and cash equivalents</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">0</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-3</span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">0</span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-4</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">-2</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c47" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">Cash and cash equivalents at the end of period</span></p>
            </td>
            <td class="c37" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">540 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">422 </span></p>
            </td>
            <td class="c29" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">540 </span></p>
            </td>
            <td class="c30" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">422 </span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c15">471 </span></p>
            </td>
        </tr>
    </table>
    <TextContainer>
    <p class="c7"><span class="c15">*) Net of shareholder contribution and payment of liabilities. </span></p>
    <hr style="page-break-before:always;display:none;">
    <p class="c7 c19"><span class="c15"></span></p>
    </TextContainer>
