---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
    <h2 class="c52 c39 c43" id="h.c26x9jdmgbm2"><span class="c27">Consolidated Statement Of Financial Position</span></h2>
    <h3 class="c7 c43" id="h.ky24vo6apoyj"><span class="c28">Assets</span></h3>
    <h4 class="c16" id="h.8tbv6qpyiyz7"><span class="c26">Non-Current Assets</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Goodwill</th>
                <td>2,014</td>
                <td>2,092</td>
                <td>2,019</td>
            </tr>
            <tr>
                <th scope="row">Intangible assets</th>
                <td>961</td>
                <td>1,007</td>
                <td>918</td>
            </tr>
            <tr>
                <th scope="row">Property, plant and equipment</th>
                <td>13</td>
                <td>19</td>
                <td>17</td>
            </tr>
            <tr>
                <th scope="row">Right-of-use assets</th>
                <td>25</td>
                <td>32</td>
                <td>24</td>
            </tr>
            <tr>
                <th scope="row">Investments in associates</th>
                <td>246</td>
                <td>238</td>
                <td>243</td>
            </tr>
            <tr>
                <th scope="row">Non-current financial assets</th>
                <td>13</td>
                <td>29</td>
                <td>14</td>
            </tr>
            <tr>
                <th scope="row">Deferred tax assets</th>
                <td>24</td>
                <td>7</td>
                <td>4</td>
            </tr>
            <tr>
                <th scope="row">Total non-current assets</th>
                <td>3,295 &nbsp;</td>
                <td>3,424</td>
                <td>3,239</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h4 class="c16" id="h.agzfr7lcxrl1"><span class="c26">Current Asset</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Trade receivables</th>
                <td>169</td>
                <td>231</td>
                <td>188</td>
            </tr>
            <tr>
                <th scope="row">Current tax assets</th>
                <td>0</td>
                <td>2</td>
                <td>54</td>
            </tr>
            <tr>
                <th scope="row">Other receivables</th>
                <td>24</td>
                <td>47</td>
                <td>42</td>
            </tr>
            <tr>
                <th scope="row">Prepaid expenses</th>
                <td>11</td>
                <td>10</td>
                <td>9</td>
            </tr>
            <tr>
                <th scope="row">Cash and cash equivalents</th>
                <td>540</td>
                <td>422</td>
                <td>472</td>
            </tr>
            <tr>
                <th scope="row">Total current assets</th>
                <td>744</td>
                <td>712</td>
                <td>766</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h4 class="c16" id="h.545ji17jgobj"><span class="c26">Total Asset</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Total non-current assets</th>
                <td>3,295</td>
                <td>3,424</td>
                <td>3,239</td>
            </tr>
            <tr>
                <th scope="row">Total current assets</th>
                <td>744</td>
                <td>712</td>
                <td>766</td>
            </tr>
            <tr>
                <th scope="row">TOTAL ASSETS</th>
                <td>4,039</td>
                <td>4,136</td>
                <td>4,005</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h3 class="c11" id="h.g8848ncsvumf"><span class="c28">Equity And Liabilities</span></h3>
    <h4 class="c56 c39 c43" id="h.oezvud7k66ts"><span class="c26">Equity</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Share Captial</th>
                <td>1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Reserves &nbsp;</th>
                <td>83</td>
                <td>176</td>
                <td>100</td>
            </tr>
            <tr>
                <th scope="row">Retained earnings, including net profit/loss</th>
                <td>3,560 &nbsp;</td>
                <td>1,687</td>
                <td>1,347</td>
            </tr>
            <tr>
                <th scope="row">Total equity attributable to equity holders of the parent &nbsp;</th>
                <td>3,644</td>
                <td>1,862</td>
                <td>1,447</td>
            </tr>
            <tr>
                <th scope="row">Non-controlling interests</th>
                <td>19</td>
                <td>9</td>
                <td>9</td>
            </tr>
            <tr>
                <th scope="row">Total equity</th>
                <td>3,662 &nbsp;</td>
                <td>1,872</td>
                <td>1,456</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h4 class="c16" id="h.sv42qcwffslu"><span class="c26">Non-Current Liabilities</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Liabilities to owners</th>
                <td>N/A</td>
                <td>1,632</td>
                <td>1,631</td>
            </tr>
            <tr>
                <th scope="row">Lease liabilities</th>
                <td>8</td>
                <td>15</td>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">Provisions</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Contingent Considerations</th>
                <td>21</td>
                <td>68</td>
                <td>53</td>
            </tr>
            <tr>
                <th scope="row">Non-current liabilities to employees related to historical acquisitions</th>
                <td>8</td>
                <td>39</td>
                <td>9</td>
            </tr>
            <tr>
                <th scope="row">Deferred tax liabilities</th>
                <td>157</td>
                <td>&nbsp;206</td>
                <td>195</td>
            </tr>
            <tr>
                <th scope="row">Total non-current liabilities</th>
                <td>194 &nbsp;</td>
                <td>1,961</td>
                <td>1,898</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h4 class="c16" id="h.c041iiq0h33t"><span class="c26">Current Liabilities</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Trade payables</th>
                <td>16</td>
                <td>27</td>
                <td>59</td>
            </tr>
            <tr>
                <th scope="row">Lease liabilities</th>
                <td>16</td>
                <td>17</td>
                <td>14</td>
            </tr>
            <tr>
                <th scope="row">Contract liabilities</th>
                <td>0</td>
                <td>N/A</td>
                <td>1</td>
            </tr>
            <tr>
                <th scope="row">Contingent considerations</th>
                <td>15</td>
                <td>0</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Tax liabilities</th>
                <td>17</td>
                <td>44</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Liabilities to owners</th>
                <td>N/A</td>
                <td>18</td>
                <td>425</td>
            </tr>
            <tr>
                <th scope="row">Other current liabilities</th>
                <td>37</td>
                <td>7</td>
                <td>12</td>
            </tr>
            <tr>
                <th scope="row">Accrued expenses and prepaid income</th>
                <td>82</td>
                <td>189</td>
                <td>141</td>
            </tr>
            <tr>
                <th scope="row">Total current liabilities</th>
                <td>182</td>
                <td>303</td>
                <td>651</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h4 class="c16" id="h.prsnkwp4igqy"><span class="c26">Total Equity And Liabilities</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Total equity</th>
                <td>3,662 &nbsp;</td>
                <td>1,872</td>
                <td>1,456</td>
            </tr>
            <tr>
                <th scope="row">Total non-current liabilities</th>
                <td>194</td>
                <td>1,961</td>
                <td>1,898</td>
            </tr>
            <tr>
                <th scope="row">Total current liabilities</th>
                <td>182</td>
                <td>303</td>
                <td>651</td>
            </tr>
            <tr>
                <th scope="row">Total Equity And Liabilities</th>
                <td>4,039</td>
                <td>4,136</td>
                <td>4,005</td>
            </tr>
        </tbody>
    </table>
</div>


<style>



</style>
