---

---

    <h2 class="c52 c39 c43" id="h.6jqsfl5y5ple"><span class="c27">Definitions Of Key Performance Indicators (KPIs)</span></h2>
    <p class="c7 c68"><span class="c1">The board and management of Coffee Stain believes that it is important to separate the operational performance of the business from the acquisition part. Certain KPI&rsquo;s are used to accomplish and give internal and external stakeholders the best picture of the underlying operational performance of the business, by the measurement of performance excluding specific items related to historical acquisitions and items affecting comparability. The individual KPIs, definitions and purpose are described more in detail below.</span></p>
    <h3 class="c7 c43" id="h.u7k05ph2cjee"><span class="c28">Definitions</span></h3>
    <h4 class="c16" id="h.zezusxc51by5"><span class="c26">Adjusted Earnings per share</span></h4>
    <p class="c7"><span class="c1">Net profit for the period excluding specific items related to historical acquisitions, items affecting comparability net of tax and changes in fair value for contingent consideration net of tax, divided by the average number of shares in the period. Net taxes are calculated using the effective tax rate.</span></p>
    <h4 class="c16" id="h.lem68e8h3p83"><span class="c26">Adjusted EBIT</span></h4>
    <p class="c7"><span class="c1">EBIT excluding specific items related to historical acquisitions and items affecting comparability.</span></p>
    <h4 class="c16" id="h.ns9tjlrngnjs"><span class="c26">Adjusted EBIT margin %</span></h4>
    <p class="c7"><span class="c1">Adjusted EBIT as a percentage of net sales.</span></p>
    <h4 class="c16" id="h.gy9dyiyti22v"><span class="c26">Average number of shares</span></h4>
    <p class="c7"><span class="c1">Weighted average number of shares that are outstanding during the period.</span></p>
    <h4 class="c16" id="h.yhvk75ex6gjc"><span class="c26">Cash EBIT </span></h4>
    <p class="c7"><span class="c1">Adjusted EBIT excluding operational depreciation and amortization expenses, less investments in intangible and tangible assets and payments of lease liabilities.</span></p>
    <h4 class="c16" id="h.utgwab9u88k"><span class="c26">Cash EBIT Margin %</span></h4>
    <p class="c7"><span class="c1">Cash EBIT as percentage of net sales.</span></p>
    <h4 class="c16" id="h.9qd1vnpjf2g0"><span class="c26">EBIT </span></h4>
    <p class="c7"><span class="c1">EBIT equals Operating profit in the Consolidated statement of profit or loss</span></p>
    <h4 class="c16" id="h.fdqqdoiouqfl"><span class="c26">EBIT margin %</span></h4>
    <p class="c7"><span class="c1">EBIT as a percentage of net sales.</span></p>
    <h4 class="c16" id="h.r2784j6kyxjc"><span class="c26">Free cash flow after working capital </span></h4>
    <p class="c7"><span class="c1">Cash EBIT less tax paid, other cash flow items, changes in working capital and cash effect from items affecting comparability. </span></p>
    <h4 class="c16" id="h.paok039s87z3"><span class="c26">Free cash flow before working capital </span></h4>
    <p class="c7"><span class="c1">Cash EBIT less tax paid, other cash flow items and cash effect from items affecting comparability</span></p>
    <h4 class="c16" id="h.n42qp5ymtasf"><span class="c26">Items affecting comparability</span></h4>
    <p class="c7"><span class="c1">Transactions that are not related to recurring business operations, but affecting the financial outcome in a material way, and where the probability of reoccurrence over the coming year is limited.</span></p>
    <h4 class="c16" id="h.voom7olo121d"><span class="c26">Net investment in acquired companies </span></h4>
    <p class="c7"><span class="c1">Acquisition of subsidiaries, net of cash acquired plus cash impact from specific items related to historical acquisitions, plus acquisition of IPs through asset deal structures.</span></p>
    <h4 class="c16" id="h.7nohr9wftskg"><span class="c26">Net sales growth </span></h4>
    <p class="c7"><span class="c1">Net sales growth for the current period compared to the same period previous year.</span></p>
    <h4 class="c16" id="h.6wbcw2582nod"><span class="c26">Net sales split - Game launches and Baseline </span></h4>
    <h5 class="c50 c39 c43" id="h.caasdy8syvdt"><span class="c41">Baseline</span></h5>
    <p class="c7"><span class="c1">Recurring net sales from the existing game portfolio and back catalogue.</span></p>
    <h5 class="c50 c39 c43" id="h.7n0g12rqye3p"><span class="c41">Game Launches</span></h5>
    <p class="c7"><span class="c1">Temporary net sales impact from releases, updates, or deals (&le;60 days).</span></p>
    <h4 class="c16" id="h.vtpdfo9bnnl1"><span class="c26">Organic growth</span></h4>
    <p class="c7"><span class="c1">Growth between periods where net sales from companies acquired/divested in the last five quarters have been excluded. The comparison period is adjusted for differences in exchange rates. </span></p>
    <h4 class="c16" id="h.30zeglirs1cl"><span class="c26">Specific items related to historical acquisitions </span></h4>
    <p class="c7"><span>Specific income/expenses related to historical acquisitions consist of personnel cost related to acquisitions (In connection with certain business combinations, contingent consideration agreements that are not classified as part of the consideration transferred, as there is a requirement for continued employment to receive the amount. Accordingly, the amount is classified as consideration for future services), amortization of surplus values of acquired intangible assets (e.g. IP-rights, publishing rights, brand name), transaction costs (Costs for legal- financial- tax- and commercial due diligence for completed transactions.), remeasurement of participation in associated companies and remeasurement of contingent consideration.</span>
        <hr style="page-break-before:always;display:none;">
    </p>
