---

---

<h2 class="c52 c39 c43" id="h.tlylgwqacn07"><span class="c27">Financial Performance</span></h2>
    <p class="c7 c43 subtitle" id="h.4pgblf1u9vgj"><span class="c44">Third Quarter </span></p>
    <h3 class="c7 c43" id="h.89ge99748oia"><span class="c28">Summary</span></h3>
    <p class="c7"><span class="c1">The quarter was characterized by strong net sales, supported by two significant game launches and a solid underlying performance across the portfolio. Net sales benefited from a launch uplift effect of SEK 87 million in the quarter, alongside a stable baseline contribution. A weaker USD had a negative impact in the quarter, as majority of platform settlements are made in USD and with cost mainly in SEK/DKK. </span></p>
    <p class="c7"><span class="c1">Cash EBIT amounted to SEK 146 million corresponding to a Cash EBIT margin of 50%. This is an increase compared to FY Q2 2025/26 of SEK 77 million with a 19 percentage points Cash EBIT margin improvement. This improvement reflects the scalable nature of the business, where higher net sales translated into increased cash EBIT generation against a stable cost base.</span></p>
    <p class="c7"><span class="c1">EBIT for the quarter includes the full effect of listing-project costs of SEK -33 million (IAC). It also includes higher operational amortization cost following the USD 18 million non-cash transfer of publishing rights for the multiplayer online-game Fellowship from Embracer Group on 30 November 2025. This impact is accounting-driven, has no effect on Cash EBIT.</span></p>
    <p class="c7"><span class="c1">Free cash flow in the quarter negatively affected by working capital phasing where trade receivables increased following strong sales late in the quarter and where phasing on trade payables mainly related to royalty payments had a negative effect compared to the previous quarter. </span></p>
    <p class="c7"><span class="c1">The financial position remains strong, with cash and cash equivalents of SEK 540 million, providing flexibility to continue investing in the games portfolio and supporting long-term value creation.</span></p>
    <h3 class="c7 c43" id="h.gi5ysm7wvwal"><span class="c28">Net Sales </span></h3>
    <p class="c7"><span class="c1">Net sales for the quarter amounted to SEK 293 million (389), a decrease of -25% ( -14% organic in constant currencies) compared to the previous year. Game launch-uplift effect amounted to SEK 87 million (146) during the quarter, driven by the releases of Satisfactory Console, Goat Simulator 3: Baadlands DLC and Goat Simulator 3: Amazon Luna platform deal. The comparison period includes platform deal for Goat Simulator and the release of Satisfactory 1.0. </span></p>
    <h3 class="c7 c43" id="h.oxmbxae5v5xe"><span class="c28">EBIT and Cash EBIT </span></h3>
    <p class="c7"><span class="c1">EBIT amounted to SEK 51 million (180). The decrease compared to previous year reflects this quarter&#39;s lower net sales, listing cost effect and increased operational depreciation related to transfer of Fellowship-game. Acquisition-related amortization amounted to SEK -39 million (-40) in the quarter.</span></p>
    <p class="c7"><span class="c1">Cash EBIT amounted to SEK 146 million (217), corresponding to a 50% (56%) margin. The decrease compared to previous year mainly reflects lower net sales.</span></p>
    <h3 class="c7 c43" id="h.sfq4xwa9qy7j"><span class="c28">Net Profit/Loss For The Period</span></h3>
    <p class="c7"><span class="c1">Net profit for the quarter amounted to SEK 46 million (142) . </span></p>
    <p class="c7"><span class="c1">Tax for the quarter amounted to SEK -5 million (-41) of which current income tax amounted to SEK -31 million (-51) and deferred tax amounted to SEK 26 million (10). </span></p>
    <h3 class="c7 c43" id="h.94pz2kvxomvw"><span class="c28">Cash Flow and Financial Position</span></h3>
    <p class="c7"><span class="c1">&nbsp;Cash flow from operating activities before working capital amounted to SEK 135 million (255). The decrease compared to previous year reflects this quarter&#39;s lower Cash EBIT and higher share of expensed development.</span></p>
    <p class="c7"><span class="c1">Free cash flow after working capital amounted to SEK 27 million (181), where trade receivables increased after strong late-quarter sales, while payables were lower due to payment timing which affected changes in working capital SEK -95 million (excluding items affecting comparability of SEK -33 million) (-15)</span></p>
    <p class="c7"><span class="c1">Cash flow from financing activities amounted to SEK 243 million (-338) of which SEK 251 million relates to Embracer Group transfer to give Coffee Stain Group a pro-forma net cash position of SEK 500 million per 2025-09-30, announced by Embracer 2025-11-17.</span></p>
    <p class="c7"><span class="c1">As of December 31, 2025, Cash and cash equivalents amounted to SEK 540 million (422). </span></p>
    <h3 class="c7 c43" id="h.2a4enp2u2bah"><span class="c28">Year to Date Development</span></h3>
    <p class="c7"><span class="c1">As of December 31, 2025, accumulated net sales amounted to SEK 701 million (873), corresponding to a decline of -20% (-9% organic in constant currencies).</span></p>
    <p class="c7"><span class="c1">EBIT amounted to SEK 97 million (313) where acquisition-related amortizations amounted to SEK -117 million (-120). </span></p>
    <p class="c7"><span class="c1">Cash EBIT amounted to SEK 251 million (406), a decrease of SEK -155 million compared to previous year.</span></p>
    <p class="c7"><span class="c1">Free cash flow after working capital amounted to SEK 190 million (460), including a negative working capital effect of SEK -66 million (28) and tax received of SEK 5 million (19), where tax received was driven mainly by historical group contributions to Embracer Group AB.</span></p>
    <p class="c7"><span>Cash flow from operating activities before working capital amounted to SEK 367 million (632).</span>
        <hr style="page-break-before:always;display:none;">
    </p>
