---

---

    <h2 class="c52 c39 c43" id="h.eh4mof13ug7v"><span class="c27">Signatures And Assurance</span></h2>
    <p class="c7"><span class="c1">The Board of Directors and Chief Executive Officer offer their assurance that this interim report for the third quarter gives a true and fair view of the Group&rsquo;s and parent company&rsquo;s operations, financial position and results of operations and describes the significant risks and uncertainties facing the Group and the parent company.</span></p>
    <p class="c7"><span class="c1">Karlstad, Sweden, February 4, 2026 </span></p>
    <p class="c7"><span class="c1">Jacob Jonmyren: Chair of the Board </span></p>
    <p class="c7"><span class="c1">Lars Wingefors: Board member</span></p>
    <p class="c7"><span class="c1">Kicki Wallje-Lund: Board member</span></p>
    <p class="c7"><span class="c1">Sara B&ouml;rsvik: Board member</span></p>
    <p class="c7"><span class="c1">Henrik Tj&auml;rnstr&ouml;m: Board member</span></p>
    <p class="c7"><span class="c1">Anton Westbergh: CEO and Board member</span></p>
    <p class="c7"><span class="c15">This information is information that Coffee Stain Group AB (publ) is obliged to make public pursuant to the EU Market Abuse Regulation 596/2014. The information was submitted for publication, through the agency of the contact persons set out above, at 2026-02-04, 08:00 CET. The persons above may also be contacted for further information.</span></p>
    <p class="c7"><span class="c15">This report contains forward-looking statements that reflect the Board of Directors&rsquo; and management&rsquo;s current views with respect to certain future events and potential financial performance. Forward-looking statements are subject to risks and uncertainties. Results could differ materially from forward-looking statements as a result of, among other factors, (i) changes in economic, market and competitive conditions, (ii) success of business initiatives, (iii) changes in the regulatory environment and other government actions, (iv) fluctuations in exchange rates and (v) business risk management. </span></p>
    <p class="c7"><span class="c75">This report is based solely on the circumstances at the date of publication and except to the extent required under applicable law or applicable marketplace regulations, Coffee Stain Group AB is under no obligation to update the information, opinions or forward-looking statements in this report. </span>
        <hr style="page-break-before:always;display:none;">
    </p>
