---
---

<h1 class="c7 c43" id="h.9xy0z5xkkzx"><span class="c69">Coffee Stain Group Interim Report</span></h1>
    <p class="c7"><span class="c1">Q3: 2025/26</span></p>
    <h2 class="c52 c39 c43" id="h.56ap3dfgtl8q"><span class="c27">Net Sales amounted to SEK 293 million</span></h2>
    <p class="c7 c43 subtitle" id="h.eyv67c4p2771"><span class="c81">Third Quarter, October&ndash;December 2025 compared to 2024</span></p>
    <ul class="c73 lst-kix_i2955rtf5wq6-0 start">
        <li class="c14 c31 li-bullet-0"><span class="c1">Net sales decreased by -25% (-14% organic growth in constant currencies) to SEK 293 million (389).</span></li>
        <li class="c14 c31 li-bullet-0"><span class="c1">EBIT amounted to SEK 51 million (180), an EBIT margin of 17% (46%).</span></li>
        <li class="c14 c31 li-bullet-0"><span class="c1">Items affecting comparability (IAC) related to the listing project amounted to SEK -33 million (0).</span></li>
        <li class="c14 c31 li-bullet-0"><span class="c1">Cash EBIT amounted to SEK 146 million (217), a Cash EBIT margin of 50% (56%)</span></li>
        <li class="c14 c31 li-bullet-0"><span class="c1">Adjusted EBIT amounted to SEK 123 million (224), an Adjusted EBIT margin of 42% (58%).</span></li>
        <li class="c14 c31 li-bullet-0"><span class="c1">Cash flow from operating activities amounted to SEK 70 million (240). Net investments in intangible assets amounted to SEK -42 million (-54). Free cash flow after changes in working capital amounted to SEK 27 million (181).</span></li>
    </ul>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Key performance indicators* SEK m</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net sales</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">293 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">389 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">701 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">873 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">1,089 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">EBIT</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">51 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">180 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">97 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">313 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">322</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Cash EBIT </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">146 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">217 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">251 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">406 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">484 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Cash EBIT, margin </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">50%</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">56%</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">36% &nbsp;</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">47%</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">44%</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjusted EBIT </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">123 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">224 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">249 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">464 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">544 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjusted EBIT margin </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">42%</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">58% </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">35% &nbsp;</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">53% </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">50%</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Cash flow from operating activities </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">70 &nbsp;</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">240 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">331 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">660 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c10"><span class="c1">847</span></p>
            </td>
        </tr>
    </table>