---
import Image from "astro/components/Image.astro";
import TextContainer from "../TextContainer.astro";

import barChart1 from "../../assets/Net Sales and Cash EBIT - Last twelve months.jpg";
import barChart2 from "../../assets/Net Sales and Cash EBIT - Quarterly.jpg";

---
<TextContainer>
    <h2 class="" id="">Net Sales amounted to SEK 293 million</h2>
    <p class="" id="">Third Quarter, October&ndash;December 2025 compared to 2024</p>
    <ul class="">
        <li class="">Net sales decreased by -25% (-14% organic growth in constant currencies) to SEK 293 million (389).</li>
        <li class="">EBIT amounted to SEK 51 million (180), an EBIT margin of 17% (46%).</li>
        <li class="">Items affecting comparability (IAC) related to the listing project amounted to SEK -33 million (0).</li>
        <li class="">Cash EBIT amounted to SEK 146 million (217), a Cash EBIT margin of 50% (56%)</li>
        <li class="">Adjusted EBIT amounted to SEK 123 million (224), an Adjusted EBIT margin of 42% (58%).</li>
        <li class="">Cash flow from operating activities amounted to SEK 70 million (240). Net investments in intangible assets amounted to SEK -42 million (-54). Free cash flow after changes in working capital amounted to SEK 27 million (181).</li>
    </ul>

    <div class="table-container">
        <table class="">
            <caption class="">Summary of Q3 Overall Report</caption>
            <thead class="">
                <tr>
                    <th scope="col" class="" colspan="1" rowspan="1">Key performance indicators*<br/> SEK m</th>
                    <th scope="col" class="" colspan="1" rowspan="1">Oct-Dec 2025</th>
                    <th scope="col" class="" colspan="1" rowspan="1">Oct-Dec 2024</th>
                    <th scope="col" class="" colspan="1" rowspan="1">Apr-Dec 2025</th>
                    <th scope="col" class="" colspan="1" rowspan="1">Apr-Dec 2024</th>
                    <th scope="col" class="fiscal_year" colspan="1" rowspan="1">Apr 2024- Mar 2025</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="" colspan="1" rowspan="1">Net sales</th>
                    <td class="" colspan="1" rowspan="1">293</td>
                    <td class="" colspan="1" rowspan="1">389</td>
                    <td class="" colspan="1" rowspan="1">701</td>
                    <td class="" colspan="1" rowspan="1">873</td>
                    <td class="" colspan="1" rowspan="1">1,089</td>
                </tr>
                <tr>
                    <th scope="row" class="" colspan="1" rowspan="1">EBIT</th>
                    <td class="" colspan="1" rowspan="1">51</td>
                    <td class="" colspan="1" rowspan="1">180</td>
                    <td class="" colspan="1" rowspan="1">97</td>
                    <td class="" colspan="1" rowspan="1">313</td>
                    <td class="" colspan="1" rowspan="1">322</td>
                </tr>
                <tr>
                    <th scope="row" class="" colspan="1" rowspan="1">Cash EBIT</th>
                    <td class="" colspan="1" rowspan="1">146</td>
                    <td class="" colspan="1" rowspan="1">217</td>
                    <td class="" colspan="1" rowspan="1">251</td>
                    <td class="" colspan="1" rowspan="1">406</td>
                    <td class="" colspan="1" rowspan="1">484</td>
                </tr>
                <tr>
                    <th scope="row" class="" colspan="1" rowspan="1">Cash EBIT, margin</th>
                    <td class="" colspan="1" rowspan="1">50%</td>
                    <td class="" colspan="1" rowspan="1">56%</td>
                    <td class="" colspan="1" rowspan="1">36%</td>
                    <td class="" colspan="1" rowspan="1">47%</td>
                    <td class="" colspan="1" rowspan="1">44%</td>
                </tr>
                <tr>
                    <th scope="row" class="" colspan="1" rowspan="1">Adjusted EBIT</th>
                    <td class="" colspan="1" rowspan="1">123</td>
                    <td class="" colspan="1" rowspan="1">224</td>
                    <td class="" colspan="1" rowspan="1">249</td>
                    <td class="" colspan="1" rowspan="1">464</td>
                    <td class="" colspan="1" rowspan="1">544</td>
                </tr>
                <tr>
                    <th scope="row" class="" colspan="1" rowspan="1">Adjusted EBIT margin</th>
                    <td class="" colspan="1" rowspan="1">42%</td>
                    <td class="" colspan="1" rowspan="1">58%</td>
                    <td class="" colspan="1" rowspan="1">35%</td>
                    <td class="" colspan="1" rowspan="1">53%</td>
                    <td class="c6" colspan="1" rowspan="1">50%</td>
                </tr>
                <tr>
                    <th scope="row" class="" colspan="1" rowspan="1">Cash flow from operating activities</th>
                    <td class="" colspan="1" rowspan="1">70</td>
                    <td class="" colspan="1" rowspan="1">240</td>
                    <td class="" colspan="1" rowspan="1">331</td>
                    <td class="" colspan="1" rowspan="1">660</td>
                    <td class="" colspan="1" rowspan="1">847</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bar_chart_container">
        <div class="bar_chart_wrapper">
            <Image
            id="Quarterly_bar_chart"
            src= {barChart1}
            alt="Net Sales and Cash EBIT % | Quarterly: in SEK Millions"
            aria-describedby="Quarterly_bar_chart_text"
            />
            <Image
            id="Last_Twelve_Months_bar_chart"
            src= {barChart2}
            alt="Net Sales and Cash EBIT % | Last twelve months: in SEK Millions"
            aria-describedby="Last_Twelve_Months_bar_chart_text"
            />
        </div>
        <div class="bar_chart_text_wrapper">
            <p id="Quarterly_bar_chart_text" class="">Net sales and Cash EBIT % | Quarterly: in SEK Millions</p>
            <p id="Last_Twelve_Months_bar_chart_text" class="">Net sales and Cash EBIT % | Last twelve months: in SEK Millions</p>
        </div>
    </div>
</TextContainer>

<style>

    .table-container {
                margin-top: 6rem;
    }

    tr td:nth-child(6) {
        background-color: var(--color-coffee-tan);
    }

    .bar_chart_container{
        background-color: white;
        margin-top: 6rem;
    }

    #Quarterly_bar_chart, #Last_Twelve_Months_bar_chart {
        height: 100%;
    }

    .bar_chart_wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1rem 1.25rem 0 0;
    }

    @media (max-width: 680px) {
        .bar_chart_wrapper {
            flex-direction: column;
            align-items: center;
        }
        #Quarterly_bar_chart, #Last_Twelve_Months_bar_chart {
            width: 80%;
            object-fit: cover;
        }
    }

</style>