---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
    <h2 class="c52 c39 c43" id="h.gak4eqfrp1dg"><span class="c27">Notes</span></h2>
    <h3 class="c7 c43" id="h.usubajxzblw8"><span class="c28">Note 1: Material Accounting Polices</span></h3>
    <p class="c7"><span class="c1">This interim report comprises of the Swedish parent company Coffee Stain Group AB (publ) (&ldquo;Coffee Stain&rdquo;), with corporate registration number 559280-0014, and its subsidiaries. The Group conducts management and development of intellectual property rights, publishing, development of computer games, video games, and mobile games. The parent company is a limited liability company with its registered office in Karlstad, Sweden. The address of the head office is Tullhusgatan 1B, 652 09 Karlstad, Sweden.</span></p>
    <p class="c7"><span class="c1">The Group&rsquo;s interim financial statements have been prepared in accordance with IAS 34 Interim Financial Reporting and applicable parts of the Swedish Annual Accounts Act (1995:1554)</span></p>
    <p class="c7"><span class="c1">The Group has applied the same accounting policies, basis of calculation and assumptions (including those related to the income tax expense and balances) as those applied in the combined financial statements of Coffee Stain Group AB as of and for the financial years ending March 31, 2025 and 2024. For a complete description of the Group&#39;s material accounting policies, see the notes of the combined financial statements for the financial years ending March 31, 2025 and 2024.</span></p>
    <p class="c7"><span class="c1">Disclosures in accordance with IAS 34.16A appear in addition to the financial statements and its related notes in the interim information.</span></p>
    <p class="c7"><span class="c1">All amounts are presented in million Swedish kronor (&rdquo;SEK m&rdquo;), unless otherwise indicated. Rounding differences may occur.</span></p>
    <h3 class="c7 c43" id="h.2hc5r015431z"><span class="c28">Note 2: Significant Estimates and Assumptions</span></h3>
    <p class="c7"><span class="c1">When preparing the financial statements, management and the Board of Directors must make certain assessments and assumptions that impact the carrying amount of asset and liability items and revenue and expense items, as well as other provided information. </span></p>
    <p class="c7"><span class="c1">Actual outcome may differ from the estimates if the estimates or circumstances change. The significant estimates and assumptions correspond to the ones described in the combined financial statements of Coffee Stain Group AB as of and for the financial years ending March 31, 2025 and 2024.</span></p>
    <h3 class="c7 c43" id="h.2xgro5biosd"><span class="c28">Note 3: Revenue From Contracts With Customers</span></h3>
    <p class="c7"><span class="c1">Return to Note 3 reference</span></p>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Revenue from contracts with customers</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">PC/Console</th>
                <td>257</td>
                <td>334</td>
                <td>583</td>
                <td>711</td>
                <td>873</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>293</td>
                <td>389</td>
                <td>701</td>
                <td>873</td>
                <td>1,089</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <p class="c7"><span>PC/console comprises sales from titles distributed through platforms such as Steam, PlayStation and Xbox. Other platforms includes revenue generated through platforms with differing revenue models and user dynamics, such as Roblox and Mobile platforms. </span>
        <hr style="page-break-before:always;display:none;">
    </p>
</TextContainer>
<style>

    .table-container {
        max-width: 800px;
        margin-top: 6rem;
        overflow: auto;
    }

    th {
        text-align: left;
    }

    th, td {
        padding:.25rem;
    }

    thead th{
        position: sticky;
        top: 0;
    }

    tbody th {
        width: 16rem;
        position: sticky;
        left: .25rem; /* 0 + padding */
        background-color: var(--color-coffee-off-white);
    }

</style>
