---

---

    <h2 class="c52 c39 c43" id="h.5h94fd33vttz"><span class="c27">Other Financial Information</span></h2>
    <h3 class="c7 c43" id="h.kteztwux37bn"><span class="c28">Significant Events During The Quarter</span></h3>
    <ul class="c73 lst-kix_dak63nn91j5-0 start">
        <li class="c7 c31 li-bullet-0"><span class="c1">On November 3, Embracer Group decides at an Extraordinary General Meeting to distribute all Coffee Stain Group Shares to Embracer shareholders. </span></li>
        <li class="c7 c31 li-bullet-0"><span class="c1">On November 12, Nasdaq Stockholm approves Coffee Stain Group&rsquo;s listing application for its class B shares on Nasdaq First North Premier Growth Market in Stockholm. </span></li>
        <li class="c7 c31 li-bullet-0"><span class="c1">On November 17, Coffee Stain Group held its Capital Markets Event where Coffee Stain Group&rsquo;s business model, studios, product portfolio and financial profile were presented. </span></li>
        <li class="c7 c31 li-bullet-0"><span class="c1">On November 26, Embracer Group announced that multiplayer online game Fellowship intends to be part of Coffee Stain group through an internal transfer from Embracer Group. The transaction was structured as a non-cash transfer and was finalized on November 30, at which point Coffee Stain Group received a non-cash unconditional shareholder contribution of SEK 173 million to settle the transfer. </span></li>
        <li class="c7 c31 li-bullet-0"><span class="c1">On November 26, Embracer Group announced that Coffee Stain Group will have a proforma net cash position of SEK 500 million as of 30 September 2025 where on November 26, Coffee Stain Group received an unconditional shareholder contribution payable in cash of SEK 251 million. </span></li>
        <li class="c7 c31 li-bullet-0"><span class="c1">On November 30, Coffee Stain Group&#39;s share capital was increased by SEK 17,775 to SEK 517,775 through a bonus issue. Simultaneously, the Group&#39;s share capital was decreased by SEK 4,420 to SEK 513,354 through a share redemption by retirement of 1,922,036 B shares. Through the bonus issue, the group did not require permission from the Swedish Companies Registration Office or the general court when resolving on the share redemption. </span></li>
        <li class="c7 c31 li-bullet-0"><span class="c1">On December 11, the class B shares in Coffee Stain Group AB started trading on Nasdaq First North Premier Growth Market in Stockholm.</span></li>
    </ul>
    <h3 class="c7 c43" id="h.6pvsynkamn49"><span class="c28">Material Events After The Quarter</span></h3>
    <ul class="c73 lst-kix_meznz9n9zp3x-0 start">
        <li class="c7 c31 li-bullet-0"><span class="c1">No material events have occurred after the end of the reporting period. </span></li>
    </ul>
    <h3 class="c7 c43" id="h.aaog9jv6rghb"><span class="c28">Risks And Uncertainty Factors </span></h3>
    <p class="c7"><span>Coffee Stain Group is exposed to risks, particularly the dependence on key persons for the success of game development, the sales performance of launched games, dependence on a few distributors and the success and performance of acquisitions. The complete risk analysis is found in the company&rsquo;s most recent Combined Financial Statements for the period 31 March 2025 (published at </span><span class="c67">coffeestain.com</span><span>). Additional significant risks and assumptions are described in</span><span class="c54">&nbsp;Note 2 </span><span class="c1">in this report. </span></p>
    <h3 class="c7 c43" id="h.18rt2qq5x3h5"><span class="c28">Financial Calendar</span></h3>
    <p class="c7"><span class="c1">Year-end report, 2025/26: May 12, 2026</span></p>
    <p class="c7"><span class="c1">Annual Report, 2025/26: June 8, 2026</span></p>
    <p class="c7"><span class="c1">Annual General Meeting: September 24, 2026 </span></p>
    <h3 class="c7 c43" id="h.wjw87sml662"><span class="c28">For More Information</span></h3>
    <p class="c7"><span>Find more information about the Company at its website: </span><span class="c67">coffeestain.com</span><span class="c1">&nbsp;</span></p>
    <p class="c14"><span class="c1">For further information, please contact:</span></p>
    <p class="c14"><span class="c1">Erik Sunnerdahl, CFO</span></p>
    <p class="c7"><span class="c64"><a class="c79" href="mailto:erik.sunnerdahl@coffeestain.com">erik.sunnerdahl@coffeestain.com</a></span>
        <hr style="page-break-before:always;display:none;">
    </p>
