---
import TextContainer from '../TextContainer.astro';
---

    <TextContainer>
    <h2 class="c52 c39 c43" id="h.yhyji2hwflrd"><span class="c27">Parent Company's Income Statement</span></h2>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Note</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Net sales</th>
                <td></td>
                <td>3</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <th scope="row">Other operating income</th>
                <td></td>
                <td>0</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Other external expenses</th>
                <td></td>
                <td>-36</td>
                <td>-2</td>
                <td>-3</td>
            </tr>
            <tr>
                <th scope="row">Personnel expenses</th>
                <td></td>
                <td>-6</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Other operating expenses</th>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Operating profit/loss</th>
                <td></td>
                <td>-39</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Net financial items</th>
                <td></td>
                <td>11</td>
                <td>54</td>
                <td>41</td>
            </tr>
            <tr>
                <th scope="row">Profit/loss after financial items</th>
                <td></td>
                <td>-28</td>
                <td>54</td>
                <td>41</td>
            </tr>
            <tr>
                <th scope="row">Appropriations</th>
                <td></td>
                <td>N/A</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Profit/loss before tax</th>
                <td></td>
                <td>-28</td>
                <td>54</td>
                <td>41</td>
            </tr>
            <tr>
                <th scope="row">Income Tax</th>
                <td></td>
                <td>13</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Net profit/loss for the period</th>
                <td>Note P1</td>
                <td>-14</td>
                <td>54</td>
                <td>41</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <hr style="page-break-before:always;display:none;">
    <p class="c7 c19"><span class="c1"></span></p>
    <p class="c7"><span class="c27">Parent Company&rsquo;s Balance Sheet</span></p>
    <h3 class="c7 c43" id="h.8j5yotcx6x1b"><span class="c28">Assets</span></h3>
    <h4 class="c16" id="h.gqic26pehbij"><span class="c26">Non-Current Assets</span></h4>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Shares in group companies</th>
                <td>2,368</td>
                <td>1,843</td>
                <td>1,843</td>
            </tr>
            <tr>
                <th scope="row">Receivables from group companies</th>
                <td>54</td>
                <td>54</td>
                <td>54</td>
            </tr>
            <tr>
                <th scope="row">Deferred tax assets</th>
                <td>13</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Total non-current assets</th>
                <td>2,435</td>
                <td>1,897</td>
                <td>1,897</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <h4 class="c16" id="h.8oiut17rk95y"><span class="c26">Current Asset</span></h4>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Receivables from group companies 9 3 &nbsp;</th>
                <td>9</td>
                <td>3</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Trade receivables</th>
                <td>1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Other receivables</th>
                <td>0</td>
                <td>N/A</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Prepaid expenses and accrued income</th>
                <td>1</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Cash and cash equivalents</th>
                <td>511</td>
                <td>38</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Total current assets</th>
                <td>522</td>
                <td>41</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <h4 class="c16" id="h.r63qc1twy326"><span class="c26">Total Asset</span></h4>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Total non-current assets</th>
                <td>2,435</td>
                <td>1,897</td>
                <td>1,897</td>
            </tr>
            <tr>
                <th scope="row">Total current assets</th>
                <td>522</td>
                <td>41</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Total Assets</th>
                <td>2,958</td>
                <td>1,938</td>
                <td>1,897</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <h3 class="c11" id="h.1tsa74o1vcm"><span class="c28">Equity And Liabilities</span></h3>
    <h4 class="c56 c39 c43" id="h.iufnhyn9un3z"><span class="c26">Equity</span></h4>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Restricted equity</th>
                <td>1</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Unrestricted equity</th>
                <td>2,623</td>
                <td>272</td>
                <td>260</td>
            </tr>
            <tr>
                <th scope="row">Total equity</th>
                <td>2,624</td>
                <td>272</td>
                <td>260</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <h4 class="c16" id="h.axl2foytujmz"><span class="c26">Long-term Liabilities</span></h4>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Liabilities to Group companies</th>
                <td>N/A</td>
                <td>1,614</td>
                <td>1,614</td>
            </tr>
            <tr>
                <th scope="row">Total Long-term liabilities</th>
                <td>0</td>
                <td>1,614</td>
                <td>1,614</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <h4 class="c16" id="h.gbv9dfei1e8i"><span class="c26">Current Liabilities</span></h4>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Trade payables</th>
                <td>1</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Liabilities to group companies</th>
                <td>273</td>
                <td>52</td>
                <td>24</td>
            </tr>
            <tr>
                <th scope="row">Tax liabilities</th>
                <td>1</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Other current liabilities</th>
                <td>31</td>
                <td>0</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Accrued expenses and prepaid income</th>
                <td>4</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Total current liabilities</th>
                <td>310</td>
                <td>53</td>
                <td>24</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <h4 class="c16" id="h.uysree3g4q22"><span class="c26">Total Equity And Liabilities</span></h4>
    </TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Dec 31, 2025</th>
                <th scope="col">Dec 31, 2024</th>
                <th scope="col">Mar 31, 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Total equity</th>
                <td>2,624</td>
                <td>272</td>
                <td>260</td>
            </tr>
            <tr>
                <th scope="row">Total Long-term liabilities</th>
                <td>0</td>
                <td>1,614</td>
                <td>1,614</td>
            </tr>
            <tr>
                <th scope="row">Total current liabilities</th>
                <td>310</td>
                <td>53</td>
                <td>24</td>
            </tr>
            <tr>
                <th scope="row">Total Equity And Liabilities</th>
                <td>2,958</td>
                <td>1,938</td>
                <td>1,897</td>
            </tr>
        </tbody>
    </table>
</div>
    <TextContainer>
    <h3 class="c11" id="h.tkqseayljb39"><span class="c28">Note P1: The Parent Company&rsquo;s Accounting Policies</span></h3>
    <p class="c7"><span class="c1">The interim report for the parent company has been prepared in accordance with Chapter 9 of the Swedish Annual Accounts Act (1995:1554), Interim reports, and the recommendation issued by The Swedish Corporate Reporting Board RFR 2 Accounting for legal entities. </span></p>
    <p class="c7"><span class="c1">The parent company applies the same accounting policies as the Group with the certain exceptions and additions specified in RFR 2 as listed below. Unless otherwise indicated, the accounting policies stated below for the parent company have been applied consistently to all periods presented in the parent company&rsquo;s financial statements. </span></p>
    <p class="c7"><span class="c1">The parent company has previously applied the Swedish Annual Accounts Act (1995:1554) and the general guideline BFNAR 2012:1 (K3) published by The Swedish Accounting Standards Board. Starting from this interim report and as a consequence of the Group&#39;s transition to IFRS, the parent company applies the Swedish Annual Accounts Act and RFR 2. The date of transition to RFR 2 is April 1, 2023. The transition to RFR 2 has not had any quantitative effects on the parent company&rsquo;s income statement or balance sheet. </span></p>
    <h4 class="c16" id="h.cq96vgqbma1h"><span class="c26">Parent company&#39;s accounting policies </span></h4>
    <h5 class="c50 c39 c43" id="h.k67r9bdtsfmy"><span class="c41">Income from investments in subsidiaries </span></h5>
    <p class="c7"><span class="c1">Dividends are recognized when the right to receive payment is considered certain. Revenue from divestment of subsidiaries is recognized when control of the subsidiary has been transferred to the acquirer.</span></p>
    <h5 class="c50 c39 c43" id="h.j2qd46lypwi0"><span class="c41">Group contributions and shareholder contributions</span></h5>
    <p class="c7"><span class="c1">The parent company recognizes both received and paid group contributions as appropriations in the income statement in accordance with the alternative method in RFR 2. Shareholder contributions paid by the parent company are recognized as an increase of shares in subsidiaries in the parent company. Shareholder contributions received are recognized as an increase of non-restricted equity</span></p>
    <h5 class="c39 c43 c50" id="h.j4zj8fdpwc1b"><span class="c41">Shares in subsidiaries</span></h5>
    <p class="c7"><span class="c1">Shares in subsidiaries are recognized in the parent company in accordance with the cost method. This means that transaction costs are included in the carrying amount of the investment. If the carrying amount exceeds the value of the investment, an impairment loss is recognized in the income statement. Shares in subsidiaries are assessed for impairment at the end of each reporting period. If a previous impairment loss recognized in previous periods no longer exists, it is reversed. </span></p>
    <h5 class="c50 c39 c43" id="h.7ptglbmzqr77"><span class="c41">Financial instruments &nbsp;</span></h5>
    <p class="c7"><span class="c1">The parent company applies the exemption to not apply IFRS 9 Financial Instruments in the legal entity. Instead, the parent company applies, in accordance with the Swedish Annual Accounts Act, the cost method. In the parent company, non-current financial assets are thus measured at cost and current financial assets are measured at the lower of cost or net realizable value. The parent company does, however, apply the expected credit loss method (ECL) in accordance with IFRS 9 for financial assets that are debt instruments. The parent company applies the exemption to not measure financial guarantee contracts for the benefit of subsidiaries, associates and joint ventures in accordance with IFRS 9. Instead, the parent company applies the policies for measurement in IAS 37 Provisions, Contingent Liabilities and Contingent Assets. </span></p>
    <h3 class="c11" id="h.t265pa32a091"><span class="c28">Note P2: Significant Estimates and Assumptions</span></h3>
    <p class="c7 c43 subtitle" id="h.hx2knh7axls"><span class="c44">Shares in subsidiaries</span></p>
    <p class="c7"><span>Assumptions are made about future conditions to estimate the future cash flows that determine the recoverable amount. The recoverable amount is compared with the carrying amount for shares in subsidiaries and forms the basis for any impairments or reversals. The assumptions that primarily affect the recoverable amount are future earnings development and discount rate. If future external factors and conditions change, assumptions made may be affected leading to a change in carrying value of the shares in subsidiaries. The assumptions used when calculating the value for the shares in subsidiaries correspond in all material aspects to the assumptions used in the impairment test for goodwill as described in the combined financial statements of Coffee Stain Group AB for the financial years ending March 31, 2025 and 2024. </span>
        <hr style="page-break-before:always;display:none;">
    </p>
    </TextContainer>
<style>

    .table-container {
        max-width: 800px;
        margin-top: 6rem;
        overflow: auto;
    }

    th {
        text-align: left;
    }

    th, td {
        padding:.25rem;
    }

    thead th{
        position: sticky;
        top: 0;
    }

    tbody th {
        width: 16rem;
        position: sticky;
        left: .25rem; /* 0 + padding */
        background-color: var(--color-coffee-off-white);
    }

</style>
