---

---

<p class="">
    Coffee Stain Group is a Scandinavian game developer and publisher with a portfolio 
    of community-driven games primarily for PC and console and a proven track record 
    of building intellectual properties including Goat Simulator, Satisfactory, 
    Deep Rock Galactic, Valheim, Teardown and Welcome to Bloxburg. The Group consists 
    of 250 employees in 13 game studios including Coffee Stain, Ghost Ship and Tuxedo 
    Labs - all united by the aspiration of &quot;
    <em>small teams</em> &nbsp;making <em>big games</em>
    &nbsp;for <em>huge audiences</em>&quot;
</p>
