---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
<h2 class="c52 c39 c43" id="h.pxs8zwurvaha"><span class="c27">Selected Key Performance Indicators</span></h2>
    <h3 class="c7 c43" id="h.flxy3i72375t"><span class="c28">Adjusted EBIT - Derivation</span></h3>
</TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">EBIT</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">51</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">180</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">97</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">313</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">322</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Non operational - Amortization </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">39</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">40</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">117</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">120</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">168</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span>Items affecting comparability</span><span class="c60">&nbsp;1)</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">33</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">33</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">20</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">73</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Personnel costs related to acquisitions</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">4</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">12</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-18</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjusted EBIT</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">123</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">224</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">249</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">464</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">544</span></p>
            </td>
        </tr>
    </table>
<TextContainer>
    <p class="c7"><span class="c1">1) See next page for further explanation on items affecting comparability </span></p>
    <h3 class="c7 c43" id="h.9ppatcjl4qj"><span class="c28">Cash EBIT - Derivation</span></h3>
</TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjusted EBIT</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">123</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">224</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">249</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">464</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">544</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Operational D&amp;A </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">65 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">52 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">149 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">143 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">192 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Investment in intangible and tangible assets </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-36 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-55</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-132</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-188</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-234</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0 c39"><span class="c60">Payment of lease liabilities</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-6</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-4</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-15</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-13</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-17</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Cash EBIT </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">146 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">217 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">251 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">406 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">484 </span></p>
            </td>
        </tr>
    </table>
<TextContainer>
    <h3 class="c11" id="h.o7lewtw59axi"><span class="c28">Free Cash Flow - Derivation</span></h3>
</TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Cash EBIT </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">146 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">217 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">251 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">406 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">484 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Cash taxes paid</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-22</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-22</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">5</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">19</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-4</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0 c39"><span class="c60">Other cash flow items</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-2</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">7</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">6</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Free cash flow before working capital </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">122</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">196 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">256 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">432 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">486 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Changes in working capital </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-95</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-15</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-66</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">28</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">112</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Free cash flow after working capital </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">27 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">181 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">190 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">460 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">598 </span></p>
            </td>
        </tr>
    </table>
<TextContainer>
    <h3 class="c11" id="h.o5dq1f9kh127"><span class="c28">Adjusted Earnings Per Share - Derivation</span></h3>
    <h4 class="c16" id="h.o588gn7jmqm2"><span class="c26">Adjusted net profit for the period</span></h4>
</TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Personnel costs related to acquisitions</span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">4</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">12</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-18</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0 c39"><span class="c60">Amortization of surplus values of acquired intangible assets</span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">39</span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">40</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">117</span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">120</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">168</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Change in fair value contingent consideration</span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1</span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">2</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-13</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Items affecting comparability</span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">33</span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">33</span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">20</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">73</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjustments pre tax </span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">73 </span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">45 </span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">153 </span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">154 </span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">210 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Tax effects on adjustments </span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-15 </span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-9 </span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-31</span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-32 </span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-43</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjustments post tax </span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">58</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">36 </span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">121 </span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">122 </span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">167</span></p>
                <p class="c0 c19"><span class="c1"></span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net profit for the period attributable to equity holders of the parent </span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">48</span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">142</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">46</span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">207</span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">191</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c36" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjusted net profit for the period </span></p>
            </td>
            <td class="c58" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">106 </span></p>
            </td>
            <td class="c35" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">178 </span></p>
            </td>
            <td class="c32" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">168 </span></p>
            </td>
            <td class="c34" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">329 </span></p>
            </td>
            <td class="c5" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">358 </span></p>
            </td>
        </tr>
    </table>
<TextContainer>
    <h4 class="c39 c43 c56" id="h.n28ras9oc8hj"><span class="c26">Adjusted Earnings per share</span></h4>
</TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjusted net profit for the period </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">106 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">178 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">168 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">329 </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">358 </span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Average number of shares , million</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">223</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">223</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">223</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">223</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">223</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Adjusted Earnings per share , SEK</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.48</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.80</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0.75</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1.48</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">1.60</span></p>
            </td>
        </tr>
    </table>
    <h3 class="c11" id="h.drqeom4d3kdd"><span class="c28">Organic Growth - Derivation</span></h3>
    <table class="c9">
        <tr class="c2">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Change</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net sales </span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">293 </span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">389 </span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-25%</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Net sales from acquired/divested companies</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Difference in exchange rate</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-47</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Organic growth</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">293</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">342</span></p>
            </td>
            <td class="c3" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-14</span></p>
            </td>
        </tr>
    </table>
    <h3 class="c11" id="h.gtlbxw3zgwh9"><span class="c28">Items Affecting Comparability, IAC</span></h3>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Write-down intangible assets</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-20</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-73</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Costs related to the listing project </span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-33</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-33</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-33</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-33</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-20</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">-73</span></p>
            </td>
        </tr>
    </table>
<TextContainer>
    <h3 class="c11" id="h.16uyz4j4ym4v"><span class="c28">Items Affecting Comparability, IAC</span></h3>
</TextContainer>
    <table class="c9">
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Amounts in SEK m</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Oct-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2025</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr-Dec 2024</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Apr 2024- Mar 2025</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Operational depreciation and amortization expenses</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">64</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">52</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">149</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">143</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">192</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Acquisition related amortizations</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">40</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">40</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">117</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">120</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">168</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Items affecting comparability</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">0</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">N/A</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">20</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">73</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">Total</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">104</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">92</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">266</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">282</span></p>
            </td>
            <td class="c6" colspan="1" rowspan="1">
                <p class="c0"><span class="c1">431</span></p>
            </td>
        </tr>
    </table>
    <hr style="page-break-before:always;display:none;">
    <h3 class="c11 c62" id="h.t9i3lt61dfz8"><span class="c28"></span></h3>