---
import TextContainer from '../TextContainer.astro';
---

<TextContainer>
<h2 class="c52 c39 c43" id="h.pxs8zwurvaha"><span class="c27">Selected Key Performance Indicators</span></h2>
    <h3 class="c7 c43" id="h.flxy3i72375t"><span class="c28">Adjusted EBIT - Derivation</span></h3>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">EBIT</th>
                <td>51</td>
                <td>180</td>
                <td>97</td>
                <td>313</td>
                <td>322</td>
            </tr>
            <tr>
                <th scope="row">Non operational - Amortization</th>
                <td>39</td>
                <td>40</td>
                <td>117</td>
                <td>120</td>
                <td>168</td>
            </tr>
            <tr>
                <th scope="row">Items affecting comparability&nbsp;1)</th>
                <td>33</td>
                <td>0</td>
                <td>33</td>
                <td>20</td>
                <td>73</td>
            </tr>
            <tr>
                <th scope="row">Personnel costs related to acquisitions</th>
                <td>1</td>
                <td>4</td>
                <td>2</td>
                <td>12</td>
                <td>-18</td>
            </tr>
            <tr>
                <th scope="row">Adjusted EBIT</th>
                <td>123</td>
                <td>224</td>
                <td>249</td>
                <td>464</td>
                <td>544</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <p class="c7"><span class="c1">1) See next page for further explanation on items affecting comparability </span></p>
    <h3 class="c7 c43" id="h.9ppatcjl4qj"><span class="c28">Cash EBIT - Derivation</span></h3>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Adjusted EBIT</th>
                <td>123</td>
                <td>224</td>
                <td>249</td>
                <td>464</td>
                <td>544</td>
            </tr>
            <tr>
                <th scope="row">Operational D&amp;A</th>
                <td>65</td>
                <td>52</td>
                <td>149</td>
                <td>143</td>
                <td>192</td>
            </tr>
            <tr>
                <th scope="row">Investment in intangible and tangible assets</th>
                <td>-36</td>
                <td>-55</td>
                <td>-132</td>
                <td>-188</td>
                <td>-234</td>
            </tr>
            <tr>
                <th scope="row">Payment of lease liabilities</th>
                <td>-6</td>
                <td>-4</td>
                <td>-15</td>
                <td>-13</td>
                <td>-17</td>
            </tr>
            <tr>
                <th scope="row">Cash EBIT</th>
                <td>146</td>
                <td>217</td>
                <td>251</td>
                <td>406</td>
                <td>484</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h3 class="c11" id="h.o7lewtw59axi"><span class="c28">Free Cash Flow - Derivation</span></h3>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Cash EBIT</th>
                <td>146</td>
                <td>217</td>
                <td>251</td>
                <td>406</td>
                <td>484</td>
            </tr>
            <tr>
                <th scope="row">Cash taxes paid</th>
                <td>-22</td>
                <td>-22</td>
                <td>5</td>
                <td>19</td>
                <td>-4</td>
            </tr>
            <tr>
                <th scope="row">Other cash flow items</th>
                <td>-2</td>
                <td>1</td>
                <td>0</td>
                <td>7</td>
                <td>6</td>
            </tr>
            <tr>
                <th scope="row">Free cash flow before working capital</th>
                <td>122</td>
                <td>196</td>
                <td>256</td>
                <td>432</td>
                <td>486</td>
            </tr>
            <tr>
                <th scope="row">Changes in working capital</th>
                <td>-95</td>
                <td>-15</td>
                <td>-66</td>
                <td>28</td>
                <td>112</td>
            </tr>
            <tr>
                <th scope="row">Free cash flow after working capital</th>
                <td>27</td>
                <td>181</td>
                <td>190</td>
                <td>460</td>
                <td>598</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h3 class="c11" id="h.o5dq1f9kh127"><span class="c28">Adjusted Earnings Per Share - Derivation</span></h3>
    <h4 class="c16" id="h.o588gn7jmqm2"><span class="c26">Adjusted net profit for the period</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Personnel costs related to acquisitions</th>
                <td>1</td>
                <td>4</td>
                <td>2</td>
                <td>12</td>
                <td>-18</td>
            </tr>
            <tr>
                <th scope="row">Amortization of surplus values of acquired intangible assets</th>
                <td>39</td>
                <td>40</td>
                <td>117</td>
                <td>120</td>
                <td>168</td>
            </tr>
            <tr>
                <th scope="row">Change in fair value contingent consideration</th>
                <td>0</td>
                <td>1</td>
                <td>1</td>
                <td>2</td>
                <td>-13</td>
            </tr>
            <tr>
                <th scope="row">Items affecting comparability</th>
                <td>33</td>
                <td>0</td>
                <td>33</td>
                <td>20</td>
                <td>73</td>
            </tr>
            <tr>
                <th scope="row">Adjustments pre tax</th>
                <td>73</td>
                <td>45</td>
                <td>153</td>
                <td>154</td>
                <td>210</td>
            </tr>
            <tr>
                <th scope="row">Tax effects on adjustments</th>
                <td>-15</td>
                <td>-9</td>
                <td>-31</td>
                <td>-32</td>
                <td>-43</td>
            </tr>
            <tr>
                <th scope="row">Adjustments post tax</th>
                <td>58</td>
                <td>36</td>
                <td>121</td>
                <td>122</td>
                <td>167</td>
            </tr>
            <tr>
                <th scope="row">Net profit for the period attributable to equity holders of the parent</th>
                <td>48</td>
                <td>142</td>
                <td>46</td>
                <td>207</td>
                <td>191</td>
            </tr>
            <tr>
                <th scope="row">Adjusted net profit for the period</th>
                <td>106</td>
                <td>178</td>
                <td>168</td>
                <td>329</td>
                <td>358</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h4 class="c39 c43 c56" id="h.n28ras9oc8hj"><span class="c26">Adjusted Earnings per share</span></h4>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Adjusted net profit for the period</th>
                <td>106</td>
                <td>178</td>
                <td>168</td>
                <td>329</td>
                <td>358</td>
            </tr>
            <tr>
                <th scope="row">Average number of shares , million</th>
                <td>223</td>
                <td>223</td>
                <td>223</td>
                <td>223</td>
                <td>223</td>
            </tr>
            <tr>
                <th scope="row">Adjusted Earnings per share , SEK</th>
                <td>0.48</td>
                <td>0.80</td>
                <td>0.75</td>
                <td>1.48</td>
                <td>1.60</td>
            </tr>
        </tbody>
    </table>
</div>
    <h3 class="c11" id="h.drqeom4d3kdd"><span class="c28">Organic Growth - Derivation</span></h3>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Net sales</th>
                <td>293</td>
                <td>389</td>
                <td>-25%</td>
            </tr>
            <tr>
                <th scope="row">Net sales from acquired/divested companies</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Difference in exchange rate</th>
                <td>N/A</td>
                <td>-47</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Organic growth</th>
                <td>293</td>
                <td>342</td>
                <td>-14</td>
            </tr>
        </tbody>
    </table>
</div>
    <h3 class="c11" id="h.gtlbxw3zgwh9"><span class="c28">Items Affecting Comparability, IAC</span></h3>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Write-down intangible assets</th>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>-20</td>
                <td>-73</td>
            </tr>
            <tr>
                <th scope="row">Costs related to the listing project</th>
                <td>-33</td>
                <td>N/A</td>
                <td>-33</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>-33</td>
                <td>0</td>
                <td>-33</td>
                <td>-20</td>
                <td>-73</td>
            </tr>
        </tbody>
    </table>
</div>
<TextContainer>
    <h3 class="c11" id="h.16uyz4j4ym4v"><span class="c28">Items Affecting Comparability, IAC</span></h3>
</TextContainer>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Amounts in SEK m</th>
                <th scope="col">Oct-Dec 2025</th>
                <th scope="col">Oct-Dec 2024</th>
                <th scope="col">Apr-Dec 2025</th>
                <th scope="col">Apr-Dec 2024</th>
                <th scope="col">Apr 2024- Mar 2025</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Operational depreciation and amortization expenses</th>
                <td>64</td>
                <td>52</td>
                <td>149</td>
                <td>143</td>
                <td>192</td>
            </tr>
            <tr>
                <th scope="row">Acquisition related amortizations</th>
                <td>40</td>
                <td>40</td>
                <td>117</td>
                <td>120</td>
                <td>168</td>
            </tr>
            <tr>
                <th scope="row">Items affecting comparability</th>
                <td>0</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>20</td>
                <td>73</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>104</td>
                <td>92</td>
                <td>266</td>
                <td>282</td>
                <td>431</td>
            </tr>
        </tbody>
    </table>
</div>
    <hr style="page-break-before:always;display:none;">
    <h3 class="c11 c62" id="h.t9i3lt61dfz8"><span class="c28"></span></h3>
<style>

    .table-container {
        max-width: 800px;
        margin-top: 6rem;
        overflow: auto;
    }

    th {
        text-align: left;
    }

    th, td {
        padding:.25rem;
    }

    thead th{
        position: sticky;
        top: 0;
    }

    tbody th {
        width: 16rem;
        position: sticky;
        left: .25rem; /* 0 + padding */
        background-color: var(--color-coffee-off-white);
    }

</style>
