---
const { Heading = "Heading", Number } = Astro.props;

const HeadingNumber = "tab-" + Number;
const PanelNumber = "tabpanel-" + Number;
---
<button
	id={HeadingNumber}
	type="button"
	role="tab"
	aria-selected="false"
	aria-controls={PanelNumber}
	tabindex="-1"
	class="btn" >
	<h2>{Heading}</h2>
</button>

<style>
.btn {
	width: 13rem;
	border: none;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
}
h2 {
	display: flex;
	height:100%;
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
	border-radius: .25rem;
	color: var(--color-coffee-off-white);
	text-align: left;
	padding: .25rem;
}

h2:hover, h2:focus {
	color: var(--color-coffee-brown);
	transition: .3s;
}

h2:focus {
	outline-offset: 2px;
}



@media (max-width: 400px) {
	h2 {
		font-size: .9rem;
		font-weight: bold;
	}
}
</style>