---
const { Heading = "Heading", Number } = Astro.props;

const HeadingNumber = "tab-" + Number;
const PanelNumber = "tabpanel-" + Number;
---

<button
	id={HeadingNumber}
	type="button"
	role="tab"
	aria-selected="false"
	aria-controls={PanelNumber}
	tabindex="-1"
	class="btn" >
	<h2>{Heading}</h2>
</button>

<style>
.btn {
	width: 13rem;
	border: none;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
}

[aria-selected="true"].btn {
	border-bottom: 2px solid var(--color-coffee-brown);
}

h2 {
	display: flex;
	height:100%;
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
	border-radius: .25rem;
	color: var(--color-coffee-off-white);
	text-align: left;
	padding: .25rem .5rem;
}

.btn:hover h2, .btn:focus h2 {
	color: var(--color-coffee-brown);
	transition: .3s;
}

.btn:focus h2 {
	outline-offset: 2px;
}


@media (max-width: 460px) {
	.btn {
		width: 100%;
		padding: 0 .25rem;
	}
	h2 {
		font-size: 1.25rem;
		font-weight: bold;
  		text-wrap: pretty;
	}
}
</style>