---



---

<script>
/*
 *   This content is licensed according to the W3C Software License at
 *   https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document
 *
 *   File:   tabs-manual.js
 *
 *   Desc:   Tablist widget that implements ARIA Authoring Practices
 */

'use strict';

class TabsManual {
  constructor(groupNode) {
    this.tablistNode = groupNode;

    this.tabs = [];

    this.firstTab = null;
    this.lastTab = null;

    this.tabs = Array.from(this.tablistNode.querySelectorAll('[role=tab]'));
    this.tabpanels = [];

    for (var i = 0; i < this.tabs.length; i += 1) {
      var tab = this.tabs[i];
      var tabpanel = document.getElementById(tab.getAttribute('aria-controls'));

      tab.tabIndex = -1;
      tab.setAttribute('aria-selected', 'false');
      this.tabpanels.push(tabpanel);

      tab.addEventListener('keydown', this.onKeydown.bind(this));
      tab.addEventListener('click', this.onClick.bind(this));

      if (!this.firstTab) {
        this.firstTab = tab;
      }
      this.lastTab = tab;
    }

    this.setSelectedTab(this.firstTab);
  }

  setSelectedTab(currentTab) {
    for (var i = 0; i < this.tabs.length; i += 1) {
      var tab = this.tabs[i];
      if (currentTab === tab) {
        tab.setAttribute('aria-selected', 'true');
        tab.removeAttribute('tabindex');
        this.tabpanels[i].classList.remove('is-hidden');
      } else {
        tab.setAttribute('aria-selected', 'false');
        tab.tabIndex = -1;
        this.tabpanels[i].classList.add('is-hidden');
      }
    }
  }

  moveFocusToTab(currentTab) {
    currentTab.focus();
  }

  moveFocusToPreviousTab(currentTab) {
    var index;

    if (currentTab === this.firstTab) {
      this.moveFocusToTab(this.lastTab);
    } else {
      index = this.tabs.indexOf(currentTab);
      this.moveFocusToTab(this.tabs[index - 1]);
    }
  }

  moveFocusToNextTab(currentTab) {
    var index;

    if (currentTab === this.lastTab) {
      this.moveFocusToTab(this.firstTab);
    } else {
      index = this.tabs.indexOf(currentTab);
      this.moveFocusToTab(this.tabs[index + 1]);
    }
  }

  /* EVENT HANDLERS */

  onKeydown(event) {
    var tgt = event.currentTarget,
      flag = false;

    switch (event.key) {
      case 'ArrowLeft':
        this.moveFocusToPreviousTab(tgt);
        flag = true;
        break;

      case 'ArrowRight':
        this.moveFocusToNextTab(tgt);
        flag = true;
        break;

      case 'Home':
        this.moveFocusToTab(this.firstTab);
        flag = true;
        break;

      case 'End':
        this.moveFocusToTab(this.lastTab);
        flag = true;
        break;

      default:
        break;
    }

    if (flag) {
      event.stopPropagation();
      event.preventDefault();
    }
  }

  // Since this example uses buttons for the tabs, the click onr also is activated
  // with the space and enter keys
  onClick(event) {
    this.setSelectedTab(event.currentTarget);
  }
}

// Initialize tablist

window.addEventListener('load', function () {
  var tablists = document.querySelectorAll('[role=tablist].manual');
  for (var i = 0; i < tablists.length; i++) {
    new TabsManual(tablists[i]);
  }
});

const menuBtn = document.querySelector("#toggle_mobile_tabs_menu");
const menu = document.querySelector(".manual");

menuBtn.addEventListener("click", function () {
  if(menu.classList.contains('toggle_menu')) {
    menu.classList.remove('toggle_menu')
  } else {
    menu.classList.add('toggle_menu')
  }
});

var tabBtn = document.querySelectorAll('[role=tab].btn')
for (var i =0; i < tabBtn.length; i++) {
tabBtn[i].addEventListener("click", function () {
  if(menu.classList.contains('toggle_menu')) {
    menu.classList.remove('toggle_menu')
  } else {
    menu.classList.add('toggle_menu')
  }
})};

</script>


<section class="tabs-section">
  <div class="tabs-wrapper">
    <div class="manual-wrapper">
      <div class="mobile_tabs_menu">
        <h2>Detailed Report</h2>
        <button id="toggle_mobile_tabs_menu" aria-label="Toggle Detailed Report Menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e3e3e3"><path d="M144-264v-72h672v72H144Zm0-180v-72h672v72H144Zm0-180v-72h672v72H144Z"/></svg>
        </button>
      </div>
      <div role="tablist" aria-labelledby="tablist-1" class="manual toggle_menu">
        <slot name="tablist"/>
      </div>
    </div>
    <div class="tabpanel-wrapper">
      <slot name="tabpanels"/>
    </div>
  </div>
</section>
        


<style>

.tabs-section {
  margin-top: 6rem;
}

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manual-wrapper{
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-coffee-dark-grey);
}

.manual {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding-bottom: .5rem;
}

.mobile_tabs_menu {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-coffee-dark-grey);
}

.mobile_tabs_menu h2 {
  color: var(--color-coffee-off-white);
  padding: .5rem .5rem;
  margin:0;
}

#toggle_mobile_tabs_menu{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-coffee-off-white)
}

#toggle_mobile_tabs_menu:focus {
  outline: 2px solid var(--color-coffee-off-white);
  outline-offset: 2px;
}

#toggle_mobile_tabs_menu:hover, #toggle_mobile_tabs_menu:focus {
  color: var(--color-coffee-brown);
  transition: .3s;
}

#toggle_mobile_tabs_menu svg {
  width: 2rem;
  height: 2rem;
}

.toggle_menu {
  display: none;
}

</style>