---
const { Heading = "Heading", Number } = Astro.props;

const HeadingNumber = "tab-" + Number;
const PanelNumber = "tabpanel-" + Number;
---
<button
	id={HeadingNumber}
	type="button"
	role="tab"
	aria-selected="false"
	aria-controls={PanelNumber}
	tabindex="-1"
	class="btn" >
	<h2>{Heading}</h2>
</button>

<style>
.btn {
	position: relative;
	font: inherit;
	background-color: #00000000;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
}

.btn:hover .content, .btn:focus .content {
	transition: .3s;
}

.btn:focus {
	outline-offset: 2px;
}

h2 {
	font-size: 1rem;
	font-weight: normal;
	padding: .5rem;
	border-radius: .25rem;
}

@media (max-width: 400px) {
	h2 {
		font-size: .9rem;
		font-weight: bold;
	}
}
</style>